// 单据状态标签
var orderColor = function (orderType, orderStatus) {
  console.log(orderType, orderStatus)
  var _color = '';
  // 报废单
  if (orderType === '5') {
    switch (orderStatus) {
      case '5':
        _color = 'color-sh'; // 待县级审核
        break;
      case '2':
        _color = 'color-sh'; // 待总务主任审核
        break;
      case '6':
        _color = 'color-dh'; // 已打回
        break;
      case '3':
        _color = 'color-dh'; // 已打回
        break;
      case '4':
        _color = 'color-ywx'; // 审核通过
        break;
      case '7':
        _color = 'color-ywx'; // 审核通过
        break;
      default:
        _color = '';
    }
  }

  // 维修单
  if (orderType === '7') {
    switch (orderStatus) {
      case '1':
        _color = 'color-sh'; // 待审核
        break;
      case '2':
        _color = 'color-bf'; // 转报废
        break;
      case '3':
        _color = 'color-wx'; // 待维修
        break;
      case '4':
        _color = 'color-ywx'; // 已维修
        break;
      case '5':
        _color = 'color-dh'; // 已打回
        break;
      default:
        _color = '';
    }
  }

  return _color;
}

// 单据按钮
var orderBtn = function (btnCode) {
  var _btn = '';
  var _color_icon = '';
  var _icon = '';
  switch (btnCode) {
    case 'approve':
      _btn = '同意';
      _color_icon = 'font-color-green';
      _icon = 'icon-duigou1';
      break;
    case 'submit':
      _btn = '提交';
      _color_icon = 'font-color-orange';
      break;
    case 'scrap':
      _btn = '直接报废';
      break;
    case 'maintenance':
      _btn = '维修';
      break;
    case 'reject':
      _btn = '打回';
      _color_icon = 'font-color-orange';
      _icon = 'icon-cuohao';
      break;
    case 'update':
      _btn = '修改';
      _color_icon = 'ft-color-active';
      _icon = '';
      break;
  }
  return { btn: _btn, color: _color_icon, icon: _icon};
}

// 数值取小数
var fixNum = function (value, num) {
  var _num = num || 2;
  var _value = value || 0;
  return Number(_value).toFixed(_num);
}

// 是否保修期内
var hasWarrantyTime = function (warrantyTime, purchaseDate) {
  var str = '';
  var minute = 1000 * 60;
  var hour = minute * 60;
  var day = hour * 24;
  var halfamonth = day * 15;
  var month = day * 30;
  if (!warrantyTime || !purchaseDate) {return str = '保期不明';}
  var now = getDate().getTime();
  var _purchaseDate = getDate(purchaseDate).getTime();
  var diffValue = now - _purchaseDate;
  var monthC = diffValue / month;
  console.log(monthC);
  if (monthC >= warrantyTime) { 
    return str = '保修期外';
  } else {
    return str = '保修期内';
  }  
}


module.exports = {
  color: orderColor,
  orderBtn: orderBtn,
  fixNum: fixNum,
  warranty: hasWarrantyTime
}