var utils = {
  formartPercent: function(value) {
    return ((+value * 100).toFixed(2));
  },

  /**
   * 数值货币型转换
   * value  金额
   * currency 货币符号 默认空
   * decimals  保留位数 默认2位
   */
  currency: function(value, currency = '', decimals = 2) {
    if (value === '') return '';
    value = parseFloat(value);
    if (!isFinite(value) || (!value && value !== 0)) return '';
    var stringified = Math.abs(value).toFixed(decimals);
    var digitsRE = getRegExp('(\d{3})(?=\d)', 'g');
    var _int = decimals ? stringified.slice(0, -1 - decimals) : stringified;
    var i = _int.length % 3;
    var head = i > 0 ? _int.slice(0, i) + (_int.length > 3 ? ',' : '') : '';
    var _float = decimals ? stringified.slice(-1 - decimals) : '';
    var sign = value < 0 ? '-' : '';
    return (
      sign + currency + head + _int.slice(i).replace(digitsRE, '$1,') + _float
    );
  }
}

module.exports = utils;
